name: Publish

on:
    release:
        types: [published]

env:
    CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

jobs:
    publish_crate:
        name: Publish to crates.io
        runs-on: ubuntu-24.04
        steps:
            - uses: actions/checkout@v6
            - uses: actions/cache@v5
              with:
                  path: |
                      ~/.cargo/
                      ~/.rustup/
                      target/
                  key: ${{ runner.os }}-cargo-{{ hashFiles('**/Cargo.lock') }}
            - run: cargo publish
